
/* Universal styling */

html, body {
    font-family: "Rubik";
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

::selection {
    background-color:  hsl(231, 69%, 60%);
    color: #fff;
}

.container {
    width: 85%;
    margin: auto;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    color: hsl(229, 31, 21);
    padding: 0 30px 0 0;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    color: hsl(229, 8%, 60%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0 30px 0;
}


.buttons a {
    padding: 10px 20px;
    margin: 0 10px 0 0;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-size: .8rem;
    background-color:  hsl(231, 69%, 60%);
}

.buttons a:hover {
    background-color: #fff;
    outline: 2px solid  hsl(231, 69%, 60%);
    color:  hsl(231, 69%, 60%);
}

.buttons a.secondary-cta {
    background-color: #fff;
    box-shadow: 1px 2px 5px 2px  hsl(0, 0%, 94%);
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}

.buttons a.secondary-cta:hover {
    outline: 2px solid hsl(229, 31%, 21%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* Navigation styling */

.navbar {
    display: inline;
    
}

.navbar a {
    color: hsl(229, 31%, 21%);
    font-weight:500;
    font-size: .7rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 10px 30px;
    margin: 0;
}

.navbar a:hover {
    color: hsl(0, 94%, 66%);
}

.navbar a:last-child {
    background-color: hsl(0, 94%, 66%);
    color: #fff;
}

.navbar a:last-child:hover {
    color: hsl(0, 94%, 66%);
    background-color: #fff;
    outline: 2px solid hsl(0, 94%, 66%);
}

.navbar-footer p {
    display: inline;
}

.navbar-footer a {
    text-decoration: none;
}

.header {
    padding: 45px 0 0 0;
    width: 85%;
    margin: auto;
}

.header img {
    width: 125px;
}


/* Hero section */

.hero-section {
    height: auto;
}

.hero-text {
    margin: auto;
    padding: 0 30px 0 0;
}

.hero-image img {
    margin: 80px 0 0 0;
    width: 580px;
}

.bg-blue {
    position: absolute;
    height: 300px;
    width: 500px;
    border-bottom-left-radius: 100px;
    margin: 200px 0 0 668px;
    z-index: -10;
    background-color: hsl(231, 69%, 60%);
}

.bg-blue-two {
    position: absolute;
    height: 300px;
    width: 500px;
    border-bottom-right-radius: 100px;
    margin: 120px 0 0 -100px;
    z-index: -10;
    background-color: hsl(231, 69%, 60%);
}

/* Features section */

.features-section {
    margin: auto;
    text-align: center;
    padding: 80px 0;
}

.features-text p {
    padding: 0 300px;
}

.features-list {
    display: flex;
    justify-content: center;
    margin: 45px 0 0;
}

.features-list a {
    color: hsl(229, 8%, 60%);
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    padding: 20px 40px;
}

.features-list a:hover {
    color: hsl(0, 94%, 66%);
}

.features-list a.active {
    border-bottom: 3px solid hsl(0, 94%, 66%);
    color: hsl(229, 31%, 21%);
}



.bookmark-section {
    padding: 0 0 80px 0;
}

.bookmark-image {
    width: 540px;
}

.bookmark-text {
    margin: auto;
    padding: 0 35px 0 100px;
}

.extensions-section {
    padding: 80px 0;
    margin: auto;
    text-align: center;
}

.extensions-text p {
    padding: 0 280px;
}

.extensions-cards {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 0;
}

.browsers-list {
    background-color:  #fff;
    padding: 35px 0 35px 0; 
    width: 230px;
    margin: 0 15px;
    border-radius: 8px;
    height: 50%;
    box-shadow: 1px 2px 5px 2px  hsl(0, 0%, 94%);
}

.browsers-list:nth-child(2) {
    margin-top: 40px;
}

.browsers-list:nth-child(3) {
    margin-top: 80px;
}

.browsers-list p {
    margin: -15px 0 0 0;
    font-size: .8rem;
}

.browsers-list .buttons {
    text-align: center;
    margin: 0 auto 0 10px;
}

.browsers-list h3 {
    padding: 6px 0 0 0;
}

.bg-dots {
    margin: 0 auto;
    width: 100%;
    padding: 25px 0;
}



.faq-section {
    margin: auto;
    text-align: center;
    padding: 40px 0 80px 0;
}

.faq-section p {
    width: 50%;
    margin: 30px auto;
    text-align: left;
    line-height: 30px;
}

.faq-text {
    padding: 20px 0 10px 0;
}


.faq-text p {
    margin: 0 auto;
    text-align: center;
}

.faq-interaction {
    padding: 40px 0;
}

.faq-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
    width: 50%;
    border-top: 1px solid hsl(229, 8%, 60%);
    border-bottom: 1px solid hsl(229, 8%, 60%);
    text-decoration: none;
}

.faq-title a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
}

.faq-title a:hover {
    color: hsl(0, 94%, 66%);
}

.faq-title img {
    display: inline;
    padding: 0 0 0 90px;
    margin: 4px 0 0 0;
    width: 15px;
}


.faq-title:nth-child(2) {
    border: 0;
}

.faq-title:nth-child(4) {
    border-bottom: 0;
}

.newsletter-section {
    background-color: hsl(231, 69%, 60%);
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 60px 0;
    color: #fff;
}

.newsletter-section p {
    color: #fff;
    font-size: .6rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.newsletter-section h2 {
    padding: 0 460px;
}

.newsletter-section input {
    margin: 10px 10px 0 0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    width: 16%;
    color: hsl(229, 8%, 60%);
}

.newsletter-section input:focus {
    outline: 2px solid hsl(0, 94%, 66%);
}

.newsletter-section .buttons a {
    background-color: hsl(0, 94%, 66%);
}

.newsletter-section .buttons a:hover {
    background-color: #fff;
    color: hsl(0, 94%, 66%);
    outline: 2px solid hsl(0, 94%, 66%);
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background-color: hsl(229, 31%, 21%);
}

.footer-logo-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bookmark-logo {
    width: 125px;
    color: #fff;
    margin-left: 7.5%;
}

.navbar-footer {
    display: flex;
    justify-content: left;
}

.navbar-footer a {
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: .7rem;
    letter-spacing: 1px;
}

.navbar-footer a:hover {
    color: hsl(0, 94%, 66%);
}

.social-icons {
    margin: auto;
}

.social-icons svg {
    padding: 10px 20px;
    fill: #fff;
}

.social-icons svg:hover {
    fill: hsl(0, 94%, 66%);
}

.attribution {
    width: 85%;
    text-align: center;
    color: hsl(229, 8%, 60%);
    padding: 0;
    margin: 0 auto;
}

.attribution p {
    font-size: .7rem;
    padding: 0;
    margin: 0 auto;
}

.attribution a {
    text-decoration: none;
    font-size: .7rem;
    color: hsl(229, 31%, 21%);
   
}